.slick-slide { 
    padding-top: 110px;
    /* margin-left: -4px;  */
    /* Из за этого марджина переключаются слайды некрасиво, как отцентровать слайды я не знаю( */
}

/* .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
} */

.cinema-list__item {
    width: 179px;
    height: 240px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    transform: scale(1) translateY(0);
    transition: 0.7s all;
}

.cinema-list__item h2 {
    display: none;
    font-size: 0;
}

.cinema-list__item button {
    display: none;
}


.slick-current .cinema-list__item {
    /* transform: scale(1.3); */
    text-align: center;
    transition: 0.5s all;
    /* transform: translateY(-20px); */
}

.slick-current .cinema-list__item {
    transform: scale(1.3) translateY(-50px);
    text-align: center;
    transition: 0.5s all;
    /* z-index: 200; */
}


.cinema-list__poster {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}


.slick-current .cinema-list__item h2 {
    display: inline;
    font-size: 20px;
    font-size: 500;
    color: var(--primary-white, #ededed);
    margin-bottom: 11px;
    line-height: 32px;
}

.grad {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0.00) 15.78%, rgba(29, 29, 29, 0.78) 100%),  -1.278px -2px / 102.078% 102.235% no-repeat;
    background-size:cover;
    background-position: center  center;
    z-index: -1;
}

.slick-current .cinema-list__item .grad {
    background: linear-gradient(180deg, rgba(29, 29, 29, 0.00) 15.78%, rgba(29, 29, 29, 0.78) 100%) -55.6px -17px / 132.125% 123.76% no-repeat;
}

.slick-current .cinema-list__item .cinema-list__button {
    display: block;
    width: 123px;
    height: 35px;
    padding: 8px 25px;
    gap: 10;
    border-radius: 4px;
    margin-bottom: 30px;
    background: #AB0A10;
    border: none;
    cursor: pointer;
}

.slick-current .cinema-list__item .cinema-list__button:hover {
    box-shadow: 0px 0px 20px 5px #000;
    border: none;
}
